* {
    margin-left: 5px;
}

h1 {
    background-color: dodgerblue;
    margin: 50px 5px;
    color: aliceblue;
    font-size: 40px;
    text-align: right;
}

img {
    width: 200px;
    height: 200px;
}

h2  {
    color: dodgerblue;
    margin: 15px 5px;
}

ul li {
    font-weight: bold;
}

a {
    font-weight: normal;
}

p {
    margin-left: 5px;
    font-weight: normal;
}

.skill {
    background-color: lightgrey;
}

.skill p {
    color: green;
}

span {
    color: darkorange;
}

b {
    color: darkblue;
}

.skill-desc {
    margin-left: 50px;
}
